{% extends ':default:template.html.twig' %}
{% block corps %}
    {% for item in posts %}


    <div class="col-md-12">
        <h2>
            <a href="{{ path('blog_post', {'id': item.id}) }}"><li>{{ item.titre }}</li></a>
            <a class="glyphicon glyphicon-pencil" style="font-size: medium; color: #009500" href="{{ path('blog_admin_edit', {'id' : item.id})}}"></a>
            <a class="glyphicon glyphicon-remove" style="font-size: medium; color: #880000" href="{{ path('blog_admin_del', {'id' : item.id})}}"></a>
        </h2>
    <p class="lead">
        by <a href="index.php">Start Bootstrap</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> {{ item.published|date('Y-m-d') }}</p>
    <hr>
    <img class="img-responsive" src="http://placehold.it/900x300" alt="">
    <hr>
    <p>{{ item.content|slice(0, 230) }}  {% if item.content|length > 230  %}... {% endif %}</p>
    <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

    <hr>
    </div>
    {% endfor %}
{%  endblock %}
{% block cats %}
    {% for item in cat %}
    <li><a href="#">{{ item.nom }}</a>
    </li>
    {% endfor %}
{% endblock %}
