{% extends ':default:template.html.twig' %}
{% block corps %}
    <div class="container">

        <div class="row">
            <div class="col-lg-8">
                <h1>{{ post.titre }}</h1>
                <p class="lead">
                    Par <a disabled>{{ post.author }}</a>
                </p>
                <hr>
                <p><span class="glyphicon glyphicon-time"></span> {{ post.published|date('Y-m-d \\à H:i:s') }}</p>
                <hr>
                <p>{{ post.content }}</p>
                <hr>
                {% if app.user %}
                    <div class="well">
                        <h4>Commenter :</h4>
                        <form role="form" method="post" action="{{ path('blog_new_comment',{'post': post.id}) }}">
                            {% if form_errors(form) %}
                                <div class="alert alert-danger">{{ form_errors(form) }}</div>
                            {% endif %}
                            <div class="form-group">
                                {% if form_errors(form.content) %}
                                    <div class="alert alert-danger">{{ form_errors(form.content) }}</div>
                                {% endif %}
                                {{ form_widget(form.content, {attr: {'rows': '3', 'class': 'form-control'}}) }}
                            </div>
                            {{ form_rest(form) }}
                            <button type="submit" class="btn btn-primary">Envoyer</button>
                        </form>
                    </div>
                    <hr>
                {% endif %}
                {% for comment in comments %}
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading"> {{ comment.author }}
                                <small>{{ comment.published|date('Y-m-d \\à H:i:s') }}</small>
                            </h4>
                            {{ comment.content }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
