{% extends ':default:template.html.twig' %}
{% block corps %}
    <form method="post" action="{{ path('blog_admin_add') }}">
        {% if form_errors(form) %}
            <div class="alert alert-danger">{{ form_errors(form) }}</div>
        {% endif %}
        <div class="form-group">
            {% if form_errors(form.titre) %}
                <div class="alert alert-danger">{{ form_errors(form.titre) }}</div>
            {% endif %}
            <label>Titre : </label>
            {{ form_widget(form.titre, {attr: {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {% if form_errors(form.content) %}
                <div class="alert alert-danger">{{ form_errors(form.content) }}</div>
            {% endif %}
            <label>Description: </label>
            {{ form_widget(form.content, {attr: {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {% if form_errors(form.cat) %}
                <div class="alert alert-danger">{{ form_errors(form.cat) }}</div>
            {% endif %}
            <label>Catégorie : </label>
            {{ form_widget(form.cat, {attr: {'class': 'form-control'}}) }}
        </div>
        {{ form_rest(form) }}
        <button class="btn btn-success">Valider</button>
    </form>
{%  endblock %}
