{% extends ':default:template.html.twig' %}
{% block corps %}
    <form method="post" action="{{ path('blog_admin_new_cat') }}">
        {% if form_errors(form) %}
            <div class="alert alert-danger">{{ form_errors(form) }}</div>
        {% endif %}
        <div class="form-group">
            {% if form_errors(form.nom) %}
                <div class="alert alert-danger">{{ form_errors(form.nom) }}</div>
            {% endif %}
            <label>Nom : </label>
            {{ form_widget(form.nom, {attr: {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {% if form_errors(form.descr) %}
                <div class="alert alert-danger">{{ form_errors(form.descr) }}</div>
            {% endif %}
            <label>Description : </label>
            {{ form_widget(form.descr, {attr: {'class': 'form-control'}}) }}
        </div>
        {{ form_rest(form) }}
        <button class="btn btn-success">Valider</button>
    </form>
{%  endblock %}
